/* styles for my form3.php */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(231, 215, 215)
}

form {
    max-width:400px;
    margin:20px auto;
}

fieldset {
    border: 2px solid #800;
    padding: 10px;
    background-color: rgb(211, 235, 235);
}

label {
    display:block;
    margin-bottom:5px;
    font-weight:bold;

}

input[type=text],
input[type=email], 
input[type=number] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height:30px;
}

input[type=submit]{
    margin-bottom: 20px;
    width: auto;
}

select {
    display:block;
    margin-bottom: 15px;
}

form ul {
    margin-bottom: 10px;
    list-style-type: none;
}

.box {
    width: 400px;
    padding:10px;
    margin: 10px auto;
}

/* Typography */

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-top:10px;
    /* margin-bottom:20px ; */
}

.error {
    color:red;
    font-style:italic;
    font-size:1.2em;
    margin-top: 5px;
}

.box {
    width: 400px;
    border:2px solid green;
    margin: 20px auto;
    padding: 10px;
}

/* footer, borrowed from website */

footer {
    height: 100px;
    line-height: 60px;
    background: #ddd;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;   
}

footer li {
    justify-content: center;
    margin: 0 15px;
}


